Entity/Connected Services/MikroServiceReference/MikroService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.191:8000/MikroService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MikroService.Models" />
  <xs:complexType name="StokCardsResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="StokCards" nillable="true" type="q1:ArrayOfStokCardModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StokCardsResponseModel" nillable="true" type="tns:StokCardsResponseModel" />
  <xs:complexType name="CommonResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResponseModel" nillable="true" type="tns:CommonResponseModel" />
  <xs:complexType name="StockCardCountResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockCardCountResponseModel" nillable="true" type="tns:StockCardCountResponseModel" />
  <xs:complexType name="CurrentAccountsResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="CurrentAccounts" nillable="true" type="q2:ArrayOfCurrentAccountModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrentAccountsResponseModel" nillable="true" type="tns:CurrentAccountsResponseModel" />
  <xs:complexType name="CurrentAccountCountResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrentAccountCountResponseModel" nillable="true" type="tns:CurrentAccountCountResponseModel" />
  <xs:complexType name="SaveCurrentAccountResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentAccountCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCurrentAccountResponseModel" nillable="true" type="tns:SaveCurrentAccountResponseModel" />
  <xs:complexType name="DocumentsResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Documents" nillable="true" type="q3:ArrayOfDocumentModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentsResponseModel" nillable="true" type="tns:DocumentsResponseModel" />
  <xs:complexType name="CreateInvoiceResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvoiceOrder" type="xs:int" />
          <xs:element minOccurs="0" name="InvoiceSerie" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateInvoiceResponseModel" nillable="true" type="tns:CreateInvoiceResponseModel" />
  <xs:complexType name="DepotListResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="DepotList" nillable="true" type="q4:ArrayOfDepotDetailModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepotListResponseModel" nillable="true" type="tns:DepotListResponseModel" />
  <xs:complexType name="GroupListResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="GroupList" nillable="true" type="q5:ArrayOfGroupDetailModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroupListResponseModel" nillable="true" type="tns:GroupListResponseModel" />
  <xs:complexType name="BrandListResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResponseModel">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="BrandList" nillable="true" type="q6:ArrayOfBrandDetailModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrandListResponseModel" nillable="true" type="tns:BrandListResponseModel" />
</xs:schema>