Entity/Connected Services/MikroServiceReference/MikroService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.191:8000/MikroService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MikroService.Models" />
  <xs:import schemaLocation="http://192.168.2.191:8000/MikroService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" />
  <xs:element name="GetStockCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q1:SecurityModel" />
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Filters" nillable="true" type="q2:ArrayOfFilterModel" />
        <xs:element minOccurs="0" name="StartRow" type="xs:int" />
        <xs:element minOccurs="0" name="RowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetStockCardsResult" nillable="true" type="q3:StokCardsResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q4:SecurityModel" />
        <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetStockCardResult" nillable="true" type="q5:StokCardsResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCardCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q6:SecurityModel" />
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Filters" nillable="true" type="q7:ArrayOfFilterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCardCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetStockCardCountResult" nillable="true" type="q8:StockCardCountResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q9:SecurityModel" />
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="StartRow" type="xs:int" />
        <xs:element minOccurs="0" name="RowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetCurrentAccountsResult" nillable="true" type="q10:CurrentAccountsResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q11:SecurityModel" />
        <xs:element minOccurs="0" name="FilterType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetCurrentAccountResult" nillable="true" type="q12:CurrentAccountsResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccountCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q13:SecurityModel" />
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccountCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetCurrentAccountCountResult" nillable="true" type="q14:CurrentAccountCountResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCurrentAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q15:SecurityModel" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="CurrentAccount" nillable="true" type="q16:SaveCurrentAccountModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCurrentAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="SaveCurrentAccountResult" nillable="true" type="q17:SaveCurrentAccountResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q18:SecurityModel" />
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q19:DocumentsResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q20:SecurityModel" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Invoice" nillable="true" type="q21:InvoiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="CreateInvoiceResult" nillable="true" type="q22:CreateInvoiceResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepotList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q23:SecurityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepotListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetDepotListResult" nillable="true" type="q24:DepotListResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q25:SecurityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetGroupListResult" nillable="true" type="q26:GroupListResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MikroService.Models" minOccurs="0" name="Security" nillable="true" type="q27:SecurityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MikroService.Models.Responses" minOccurs="0" name="GetBrandListResult" nillable="true" type="q28:BrandListResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>